#clientes{
    background-color: #795548;
}

.titulo-clientes{
    @include titulo();
}

.card-clientes{
    min-height: 354px;
    justify-content: center;
    img{
        min-width: 100px;
    }
}

.col-imagen-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-cliente{
    margin-left: 30px;
}