#clientes{
    background-color: $marron-oscuro2;
}

.titulo-clientes{
    color: white;
}

.card-clientes{
    @include cards-hover();
    min-height: 354px;
    background: rgba(255, 255, 255, 0.450);
    justify-content: center;
    img{
        min-width: 100px;
    }
}

.col-imagen-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-cliente{
    margin-left: 30px;
}