#contact{
    background-image: url(../media/fondo-section-contacto.jpg);
    padding-bottom: 35px;
}
.titulo-contactanos{
    color: white;
    text-align: center;
}
.container-boton{
    button{
        min-height: 40px;
        min-width: 80px;
        background-color: $marron-efecto-hover;
        color: white;
        border: 0;
        &:hover{
            @include boton-agrandamiento();
        }
    }
}

.container-informaciones{
    margin-bottom: 20px;
    color: white;
}

.container-direccion{
    justify-content: center;
    align-items: center;
    margin: 5px;
    p{
        margin: 0;
    }
    i{
        margin-right: 10px;
    }
}
.container-mail{
    justify-content: center;
    align-items: center;
    margin: 5px;
    p{
        margin: 0;
    }
    i{
        margin-right: 10px;
    }
}
.container-telefono{
    justify-content: center;
    align-items: center;
    margin: 5px;
    p{
        margin: 0;
    }
    i{
        margin-right: 10px;
    }
}
.container-nombre-y-mail{
    padding: 0;
}
.container-nombre{
    align-items: center;
    margin: 5px 0px;
}
.container-mail-texto{
    align-items: center;
    margin: 5px 0px;
}

// Wave //

.custom-shape-divider-top-1709495360 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709495360 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1709495360 .shape-fill {
    fill: $marron-oscuro2;
}