#equipo{
    position: relative;
    background-color: $marron-oscuro2;
}

.team .miembro{
    padding: 30px;
    box-shadow: 0px 2px 14px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.450);
    h4{
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 20px;
        color: black;
    }
    span{
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;
        font-weight: 500;
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 2px;
            background: black;
            bottom: 0;
            left: 0;
        }
    }
    p{
        margin: 10px 0 0 0;
        font-size: 14px;
    }
    .imagen-miembro{
        min-width: 130px;
        max-width: 130px;
    }
    .miembro-info{
        padding-left: 30px;
    }
    .miembro-redes{
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 32px;
            height: 32px;
            text-decoration: none;
            i{
                color: black;
                font-size: 16px;
                margin: 0 2px;
                &:hover{
                    color: $marron-efecto-hover;
                }
            }
        }
    }
}
.equipo{
    padding: 60px 0;
    overflow: hidden;
}
.titulo-equipo{
    padding-bottom: 30px;
    text-align: center;
    color: white;
}
.texto-equipo-subtitulo{
    font-size: 1.1rem;
    color: white;
}

/* wave */

.custom-shape-divider-top-1709233706 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709233706 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1709233706 .shape-fill {
    fill: #E8DDD9;
}