footer{
    position: absolute;
    background-color: $marron-oscuro1;
    color: white;
}
.col-redes{
    a{
        color: white;
        text-decoration: none;
        margin-right: 8px;
        font-size: 1.5rem;
        &:hover{
            transition: all 300ms;
            color: $marron-efecto-hover;
        }
    }
}