footer{
    position: absolute;
    background-color: #66483D;
    color: white;
}
.col-redes{
    a{
        color: white;
        text-decoration: none;
        margin-right: 8px;
        font-size: 1.5rem;
        &:hover{
            transition: all 300ms;
            color: #AB8273;
        }
    }
}