.navbar{
    background-color: $marron-oscuro1;

    .navbar-brand{
        &:hover{
            @include boton-agrandamiento();
        }
    }

    .nav-item a{
        color: white;
        &:hover{
            color: black;
        }
    }
    .contactanos{
        background-color: $marron-botones-navbar;
        &:hover{
            @include boton-agrandamiento();
        }
    }
    .dropdown-menu{
        background-color: $marron-clarito1;
    }
}