nav{
    background-color: #66483D;
    color: aliceblue;

    .navbar-brand{
        &:hover{
            @include boton-agrandamiento();
        }
    }

    .nav-item a{
        color: aliceblue;
        &:hover{
            color: red;
        }
    }
    .contactanos{
        background-color: #805A4D;
        &:hover{
            @include boton-agrandamiento();
        }
    }
    .sidebar{
        background-color: #66483D;
    }
    .dropdown-menu{
        background-color: #A37666;
    }
}