.container-404{
    height: 60vh;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-imgen404{
    img{
        max-width: 250px;
    }
}