.presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../media/maderitas.jpg);
    background-size: 60vh;
    .presentacion h1{
        font-size: 10vh;
    }
    .presentacion h2{
        font-size: 4vh;
    }
    .presentacion h3{
        font-size: 2vh;
    }    
}