.body-salado{
    background-image: url(../media/fondo-salado.jpeg);
    background-size: contain;
}

.titulo-salado{
    color: white;
}

.col-salado{
    display: flex;
    justify-content: center;
}