.gradient{
    background: rgb(121,85,72);
    background: linear-gradient(180deg, rgba(121,85,72,1) 0%, rgba(163,118,102,1) 25%, rgba(186,152,140,1) 50%, rgba(209,187,179,1) 75%, rgba(232,221,217,1) 100%);
}

.grid-container-servicios{
    display: grid;
    grid-template-areas:
        "header header"
        "texto1 imagen1"
        "imagen2 texto2";
    grid-template-columns: 50% 50%;
}
.container-parrafo-general{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 1.1rem;
}
.container-imagen-general{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    img{
        width: 200px;
        height: 200px;
    }
}
.container-parrafo1{
    grid-area: texto1;
}
.container-imagen1{
    grid-area: imagen1;
}
.container-imagen2{
    grid-area: imagen2;
}
.container-parrafo2{
    grid-area: texto2;
}